body {
  font: 14px/3rem "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
  letter-spacing: 1px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  overflow: hidden;
}

.limiter {
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
  height: 100%;
  max-height: 550px;
  }
  .container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 4rem 3rem 1rem;
  }

a {
  font-size: 1.1rem;
  text-decoration: none;
  color: #222;
  }
  a:hover {
    color: #FF6D19; /* #ff2147;*/
  }

h1 { font-size: 4rem; line-height: 4rem; }
h2 { font-size: 3rem; line-height: 3rem; }
h3 { font-size: 2rem; line-height: 2rem; }

em { font-style: italic; }
.uppercase { text-transform: uppercase; }

#back {
  position: absolute;
  left: 0;
  bottom: 0;
  line-height: 1rem;
  cursor: pointer;
  font-size: 1.2rem;
  color: #666;
  }
  #back span {
    padding: 0 6px;
  }
  #back:hover i,
  #back:hover span {
    color: #FF6D19;
  }

#landing, #landing img,
#home,
#dog,#bone,#title,
#contact,#sculpture,
#drawing,#book,#photo {
  position: absolute;
  }
  #landing {
    background-color: #fff;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  #landing img {
    top: 50%;
    left: 50%;
    width: 414px;
    height: 345px;
    margin-left: -207px; /* 1/2 width */
    margin-top: -172px; /* 1/2 height */
  }

/* HOME */
#dog {
  background: url(../assets/bigdog.png) no-repeat;
  background-size: contain;
  height: 95%;
  width: 40%;
  top: 0;
  right: 0;
  }
  #bone {
    background: url(../assets/bone.png) no-repeat;
    background-size: contain;
    width: 30%;
    height: 38%;
    bottom: 0;
    left: 8%;
  }
  #drool {
    position: absolute;
    background: url(../assets/drooldrop.png) no-repeat;
    background-size: contain;
    display: block;
    height: 10%;
    width: 6%;
    bottom: -8%;
    right: 24%;
  }
  #title {
    top: 6%;
    left: 8%;
  }
  #photo {
    top: 38%;
    right: 50%;
  }
  #sculpture {
    top: 46%;
    left: 0;
  }
  #drawing {
    top: 49%;
    left: 28%;
  }
  #book {
    top: 64%;
    left: 52%;
  }
  #contact {
    bottom: 0;
    left: 21%;
  }

/* CONTACT */
#dogcoin {
  background: url(../assets/dogcoin.jpg) no-repeat;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 62%;
  }
  #email {
    position: absolute;
    top: 10%;
    left: 0;
  }

