body {
  font: 14px/3rem Helvetica, sans-serif;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  overflow: hidden;
}

a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #222;
  }
  a:hover {
    color: #FF6D19; /* #ff2147;*/
  }

#landing, #landing img, #landing div,
#dog,#bone,#title,
#contact,#sculpture,
#drawing,#book,#photo {
  position: absolute;
  }
  #landing {
    /*background: url(../assets/rock.png) no-repeat;*/
    background-color: #fff;
    background-position: 50% 50%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    cursor: pointer;
  }
  #landing, #landing img, #landing div {
    transition: all 0.6s; /* must match fadeout in script.js */
  }
  #landing img,
  #landing div {
    top: 50%;
    left: 50%;
    width: 414px;
    height: 345px;
    margin-left: -207px; /* 1/2 width */
    margin-top: -172px; /* 1/2 height */
    opacity: 1;
  }
  #landing img:hover { opacity: 0.3; }
  #landing div {
    font-size: 3rem;
    font-weight: 200;
    color: #666;
    text-align: center;
    margin-top: 0;
  }
  #dog {
    background: url(../assets/bigdog.png) no-repeat;
    /*background-position: 90%;*/
    background-size: contain;
    height: 100%;
    width: 30%;
    top: 10%;
    right: 12%;
  }
  #bone {
    background: url(../assets/bone.png) no-repeat;
    /*background-position: 10%;*/
    background-size: contain;
    width: 26%;
    height: 40%;
    bottom: 3%;
    left: 12%;
  }
  #title {
    font-size: 3rem;
    top: 12%;
    left: 12%;
  }
  #contact {
    top: 38%;
    left: 16%;
  }
  #sculpture {
    top: 46%;
    left: 6%;
  }
  #drawing {
    top: 49%;
    left: 28%;
  }
  #book {
    top: 64%;
    left: 46%;
  }
  #photo {
    top: 84%;
    left: 21%;
  }

/* CONTACT */
#dogcoin {
  background: url(../assets/dogcoin.jpg) no-repeat;
  position: absolute;
  right: 10%;
  bottom: 10%;
  }
  #email {
    position: absolute;
    top: 10%;
    left: 5%;
  }

