---
layout: default
permalink: /photo/

photos:
  - name: SET 1
    url: /assets/fotog1.jpg
  - name: SET 2
    url: /assets/fotog2.jpg
  - name: SET 3
    url: /assets/fotog3.jpg
  - name: SET 4
    url: /assets/fotog5.jpg
---
<div class="limiter">
  <div class="container row">
    <div id="sidebar" class="small-3 columns">
      <h2><em>PHOTO</em></h2>
      <ul>
        {% for photo in page.photos %}
          <li><a href="#" data-url="{{photo.url}}" data-name="{{photo.name}}" class="{% if forloop.index == 1 %}active{% endif %}">{{photo.name}}</a></li>
        {% endfor %}
      </ul>

    </div>
    <div id="photos" class="small-9 columns">
      <img src="{{page.photos[0].url}}" alt="{{page.photos[0].name}}" title="{{page.photos[0].name}}">
      <!-- <div data-imageurl="{{site.baseurl}}/assets/fotog1.jpg" alt="photo"> -->
    </div>
    <div id="paginate"></div>

    {% include back_button.html %}
  </div>
</div>
